.top-bar,.top-bar ul{
  background: $nav-background;
}
.top-bar .menu-text{
  color:$nav-text-color;
}
.top-bar .menu-text > a{
  display:inline;
  padding: 0.2rem;
}
.top-bar .active{
  font-weight: bold;
}
